{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "ignorePatterns": ["node_modules/*", "build/*"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "settings": { "react": { "version": "detect" } }
    }
  ]
}
